# ===============================
# Maven
# ===============================
target/
*.log

# ===============================
# IDE / Editor
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment / Config
# ===============================
.env
application-local.properties
application-dev.properties
application-prod.properties
application.properties
# ===============================
# Node (kalau ada frontend nanti)
# ===============================
node_modules/

# ===============================
# Java
# ===============================
*.class
